@import 'nouislider/dist/nouislider.css';

body {
  .header {
    display: flex;
    justify-content: space-evenly;

    .sorting-reset {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .resets {
        display: flex;
        flex-direction: column;

        button {
          border: 1px solid;
          border-radius: 10px;
          margin: 10px 0;
        }

        button:hover {
          background-color: aqua;
        }
      }

      .sorting {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .sort-title {
          font-size: x-large;
          text-align: center;
        }

        .sort-options {
          display: flex;

          .by {
            display: flex;
            width: 70px;
            height: 30px;
            justify-content: center;
            align-items: center;

            p {
              font-size: x-large;
            }

            .arrow {
              cursor: pointer;
            }
          }
        }
      }
    }

    .sliders {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;

      .count-filter-container,
      .year-filter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;

        p {
          font-size: x-large;
        }

        span {
          margin-top: 0.5em;
          font-size: large;
        }

        .start-end-val {
          display: flex;
        }

        .count-filter,
        .year-filter {
          width: 20vw;
        }
      }

      #reset-filters,
      #reset-storage {
        align-self: flex-end;
        height: 30px;
        width: 200px;
      }
    }


    #select-filters-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      div,
      label {
        display: flex;
        flex-direction: column;

        label {
          text-align: center;
          display: flex;
          justify-content: center;
        }
      }
    }

    .cart {
      display: flex;
      align-self: flex-end;

      img {
        align-self: center;
        width: 50px;
        height: 50px;
      }

      .cart-count {
        font-size: x-large;
      }

      p {
        display: flex;
        align-items: center;
      }
    }
  }

  .no-items-msg-hide {
    display: none;
  }

  #search {
    width: 100%;
  }

  .no-items-msg-showed {
    display: flex;
    justify-content: center;
    font-size: xx-large;
  }

  #items-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;

    .hide-count,
    .hide-year,
    .hide-unpopular,
    .hide-producers,
    .hide-colors,
    .hide-sizes,
    .search-hide {
      display: none !important;
    }

    .brash {
      width: 30vw;
      max-height: 80vh;
      display: flex;
      flex-direction: column;
      margin: 10px 0px;
      justify-content: space-around;

      border: 2px solid red;

      img {
        max-width: 100%;
        max-height: 60%;
        align-self: center;
      }

      .title {
        text-align: center;
      }

      .details {
        display: flex;
        justify-content: space-evenly;

        ul {
          list-style-type: none;
          padding: 0;

          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .add-to-cart {
          align-self: center;
          width: 90px;
          height: 30px;
          border: 2px solid rgb(76, 0, 255);
          border-radius: 5px;
        }

        .add-count {
          text-align: center;
          align-self: center;
          width: 30px;
          height: 30px;
        }

        .added {
          background-color: lightcoral;
        }

        .added+.add-count {
          border: solid 1px;
          border-radius: 5px;
          pointer-events: none;
          background-color: lightgray;
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: darkseagreen;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 40px;

      a {
        text-decoration: none;
        color: black;
        text-align: center;
      }

      #rs-link {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background-image: url('https://rs.school/images/rs_school_js.svg');
        background-size: 120px 30px;
        background-repeat: no-repeat;
        color: transparent;
      }
    }
  }
}