body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

body .header .sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .header .sorting .sort-title {
  font-size: x-large;
  text-align: center;
}

body .header .sorting .sort-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .sorting .sort-options .by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .sorting .sort-options .by p {
  font-size: x-large;
}

body .header .sorting .sort-options .by .arrow {
  cursor: pointer;
}

body .header .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .header .filters .count-filter-container,
body .header .filters .year-filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

body .header .filters .count-filter-container p,
body .header .filters .year-filter-container p {
  font-size: x-large;
}

body .header .filters .count-filter-container span,
body .header .filters .year-filter-container span {
  margin-top: 0.5em;
  font-size: large;
}

body .header .filters .count-filter-container .start-end-val,
body .header .filters .year-filter-container .start-end-val {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .filters .count-filter-container .count-filter,
body .header .filters .count-filter-container .year-filter,
body .header .filters .year-filter-container .count-filter,
body .header .filters .year-filter-container .year-filter {
  width: 20vw;
}

body .header .cart {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .header .cart img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50px;
  height: 50px;
}

body .header .cart .cart-count {
  font-size: x-large;
}

body .header .cart p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .filters {
  width: 50%;
}

body #items-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #items-container .hide {
  display: none;
}

body #items-container .brash {
  width: 30vw;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid red;
}

body #items-container .brash img {
  max-width: 100%;
  max-height: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #items-container .brash .title {
  text-align: center;
}

body #items-container .brash .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #items-container .brash .details ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #items-container .brash .details .add-to-cart {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90px;
  height: 30px;
  border: 2px solid #4c00ff;
  border-radius: 5px;
}

body #items-container .brash .details .add-count {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30px;
  height: 30px;
}

body #items-container .brash .details .added {
  background-color: lightcoral;
}

body #items-container .brash .details .added + .add-count {
  border: solid 1px;
  border-radius: 5px;
  pointer-events: none;
  background-color: lightgray;
}
/*# sourceMappingURL=styles.css.map */